/*----------------------------*\
    Logo
\*----------------------------*/

.headerLogo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.logo:hover {
  opacity: 0.8;
}

.logoImage {
  height: 90px;
  width: 190px;
  display: block;
}
  