#topHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1e1f29;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .headerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .headerLinks li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
  }
  
  .headerLinks li:last-child {
    margin-right: 0;
  }
  
  .headerLinks li a {
    color: #fff;
    text-decoration: none;
  }
  
  .headerLinks li a:hover {
    color: #d10024;
  }
  
  .pullLeft {
    display: flex;
  }
  
  .pullRight {
    display: flex;
  }
  