/* =========================
   SECTION
========================= */
.section {
  padding: 4rem 0;
  margin: 0;
  background:
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 2px, transparent 1px),
    #aba4b9;
  background-size: 20px 20px;
  box-shadow: 0 6px 16px rgba(14, 13, 13, 0.15);
}

/* =========================
   CONTAINER
========================= */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1280px;
}

/* =========================
   TITLE
========================= */
.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #2B2D42;
  margin: 0 0 0.75rem 0;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }

  .titleWrapper {
    margin-bottom: 2.5rem;
  }
}

/* =========================
   GRID (PARENT COMMUN)
========================= */
/* Mobile first */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  align-items: stretch;
  background:rgba(255, 255, 255, 0.15) ;
  padding: 8px;
  border-radius: 22px;
}

/* Tablet */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 3fr; /* composant 1 | composant 2 */
    gap: 1.5rem;
  }
}

/* =========================
   COLONNES (COMPOSANTS)
========================= */
/* Les deux composants partagent la même logique */
.colFour {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #E4E7ED;
  border-radius: 12px;
  overflow: hidden;
}


.colTwo {
  width: 100%;
  display: flex;
 
  min-height: 100%;
  background: #122620;
  border-radius: 12px;
  overflow: hidden;
}
/* Optionnel : égaliser visuellement */
.colTwo {
  padding: 1rem;
}

.colFour {
  padding: 1rem;
}

/* =========================
   SÉCURITÉ CONTENU
========================= */
/* Empêche les débordements internes */
.colTwo > *,
.colFour > * {
  min-width: 0;
}
